

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container forms">
        <div class="form login">
            <div class="form-content">
                

                <form action="#">
                <header>Login</header>
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="Email" />
                    </div>

                    <div class="field input-field">
                        <input type="Password" placeholder="Password" class="Password" />
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button  onClick={login}>Login</button>
                        {/* <input className='login-btn' type='button' onClick={login} value='Login' /> */}
                    </div>

                    <div class="form-link">
                          <span>Don't have an account ? <a href="/register" class="signup-link">Register</a></span>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</body>
</html>